.spacing {
  padding-right: 20px;
}
.fontSize {
  font-size: 30px;
}
.navbar {
  padding: 0 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
.scrolled {
  margin: 10px 10px;
}

.open {
  background-color: #121212;
}
