.banner {
  margin-top: 0;
  padding: 100px 0 80px 0;
  background-image: url('../../Assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-padding {
  padding: 0 50px;
}
.margin {
  margin-top: 20px;
}
.img-width {
  width: 100%;
}
.banner img {
  animation: updown 3s linear infinite;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  .banner-padding {
    padding-top: 200px;
  }
}
